li a {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: lighter;
  color: #7499cb;
  cursor: pointer;
  text-decoration: none;
}

.into-article {
  padding: 24px;
}

.sub-article {
  padding: 24px;
}

.column-article {
  padding: 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.spacer {
  padding-top: 36px;
}

flex {
  display: flex;
  flex: 1;
}

.disclaimer-container {
  margin: 1.5em 0;
  padding: 8px 16px;
  overflow: hidden;
  border-left: 4px solid #ffab40;
  background-color: #ffcdd2;
  border-left-color: #ff5252;
}

.direction {
  font-size: 1.4rem;
  margin: 1.5em 0;
  padding: 8px 16px;
  overflow: hidden;
  background-color: #EEE;
}


/* -- button -- */
button, a.button {
  min-width: 88px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 2px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  outline: none;
  background: transparent;
  border: 0;
  transition: .4s cubic-bezier(.4,0,.2,1);
  line-height: 36px;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
}

button:before, a.button:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: .4s cubic-bezier(.4,0,.2,1);
  will-change: background-color,opacity;
  content: " ";
}

button:hover:before, a.button:hover:before {
  background-color: currentColor;
  opacity: .12;
}

button.primary, a.button.primary {
  color: #448aff;
}

/* --- Center --- */
.page-container {
  max-width: 840px;
  padding: 0 40px;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 1084px) {
  .page-container {
    padding: 0;
    width: 96%;
    margin: 0 auto;
  }
}

/* --- headings --- */

h1, h2, h3, h4, h5, h6 {
  color: #202124;
  font-weight: 300;
  margin: 0 0 8px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 9.6rem;
  line-height: 1.2;
  letter-spacing: -1.5;
}

h2 {
  font-size: 6rem;
  line-height: 1.2;
  letter-spacing: -0.5;
}

h3 {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 1.2;
  letter-spacing: normal;
}

h4 {
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 1.2;
  letter-spacing: 0.25;
}

h5 {
  font-weight: 400;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: normal;
}

h6 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.15;
}

.subtitle {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: 0.15;
}

p {
  margin: 0 0 16px;
  font-size: 1.6rem;
  letter-spacing: 0.5;
}
